.item{
    background-color: skyblue;
    height: 100px;
    padding: 20px
}

.pink{
    background-color: pink;
}

input + p{
    background-color: rgb(12, 207, 207);
    height: 100px;
    width: 100px;
    text-align: center;
}
.cor{
    background-color: black;
    color: white;
}